@{
    ViewData["Title"] = "Услуги";
}

@model List<Service>

<section class="services">
    <div class="container">
        <div class="wrapper">
            <h2 class="title">Наши услуги</h2>

            <div class="cards">
                @foreach (var item in Model)
                {
                    <div class="card">
                        <div class="img-wrapper">
                            <img class="img" src="@item.Img" alt="@item.Title" />
                        </div>
                        <div class="card-content">
                            <h3 class="card-title">@item.Title</h3>
                            <p class="desc">@item.Description</p>
                            <div class="card-links">
                                <a class="link" href="@Url.Action("Order", new { id = item.Id })">Записаться</a>
                                <a class="link" href="@Url.Action("Feedback", new { id = item.Id })">Отзывы</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<style>
    .services {
        margin-top: 30px;
        margin-bottom: 30px;
    }

        .services .wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }

        .services .title {
            font-size: 24px;
            text-align: center;
            font-weight: 600;
            font-family: 'KoPub Batang';
        }

        .services .cards {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            max-width: 1000px;
        }

        .services .card {
            display: flex;
            gap: 20px;
            background-color: #fff;
            padding: 20px;
            border: #132D65 2px solid;
            border-radius: 20px;
        }

        .services .card-content {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        .services .img-wrapper {
            width: 360px;
            height: 240px;
            flex-shrink: 0;
        }

        .services .img {
            width: 360px;
            height: 240px;
            object-fit: cover; /* Обрезает изображение для заполнения контейнера */
            border: #132D65 4px solid;
            border-radius: 20px;
        }

        .services .card-title {
            margin-top: 15px;
            font-size: 22px;
            text-align: center;
            font-weight: 600;
        }

        .services .desc {
            margin-top: 10px;
            font-size: 18px;
            font-weight: 600;
        }

        .services .card-links {
            display: flex;
            gap: 15px;
            margin-top: 20px;
        }

        .services .link {
            font-size: 16px;
            font-weight: 600;
            border: #132D65 4px solid;
            border-radius: 20px;
            padding: 10px 15px;
            text-decoration: none;
            color: #132D65;
            transition: background-color 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 48px;
        }

            .services .link:hover {
                background-color: #132D65;
                color: #fff;
            }

    
</style>